.btn_conteiner{
    display: flex;    
    justify-content: center;
    flex-direction: column;
    gap: 15px; 
    
    @include _tablet {      
        gap: 25px;      
    }     
}

.flex_conteiner{
    display: flex;
    gap: 15px; 
    
    @include _tablet {      
        gap: 25px;      
    }    
}

.gap_conteiner{
    display: flex;
    flex-direction: column;
    gap: 15px; 
    
    @include _tablet {      
        gap: 25px;      
    }    
}

.btn{
    border: none;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    background-color:var(--color-fon-button-inline2);
    color:var(--color-text-inline);
    font-size: 20px;
    height: 60px; 
    width: 60px;     
    border-radius: 50%;   

    @include _tablet {        
        font-size: 35px;
        height: 80px; 
        width: 80px;  
    }
}




